@media (min-width: 1281px) {

    main {
      width: 84rem;
      height: 65.1rem;
      padding: 5.6rem;
      border-radius: 3rem 3rem 40% 3rem;
    }

    /* Form */

    form {
      padding-bottom: 4.8rem;
    }

    form div {
      margin-right: 3.2rem;
    }

    form div label {
      margin-bottom: 1.2rem;
      font-size: 1.4rem;
    }

    form div input {
      width: 16rem;
      height: 7.2rem;
      padding: 2.4rem 1.2rem;
      font-size: 3.3rem;
      font-weight: 700;
    }

    /* Arrow button */

    form button {
      bottom: -4.8rem;
      right: 0;
      width: 9.6rem;
      height: 9.6rem;
    }

    button img {
      width: 4.4rem;
      height: 4.4rem;
    }

    /* Results */

    .results {
      margin-top: 0;
      font-size: 10.4rem;
    }

    .results div {
      height: 11.4rem;
    }

    /* Validation classes */

    #day-error,
    #month-error,
    #year-error {
      font-size: 1.2rem;
    }

}