:root {
  --primary-purple: #854DFF;
  --primary-light-red: #FF5959;
  --white: #FFFFFF;
  --off-white: #DCDCDC;
  --light-grey: #F0F0F0;
  --smokey-grey: #716F6F;
  --off-black: #151515;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', Arial;

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--light-grey);
}

main {
  display: flex;
  flex-direction: column;
  width: 84rem;
  height: 65.1rem;
  padding: 5.6rem;
  background-color: var(--white);
  border-radius: 3rem 3rem 40% 3rem;
}

/* Form */

form {
  display: flex;
  position: relative;
  padding-bottom: 4.8rem;
  border-bottom: 1px solid var(--light-grey);
}

form div {
  display: flex;
  margin-right: 3.2rem;
  flex-direction: column;
  cursor: pointer;
}

form div label {
  margin-bottom: 1.2rem;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--smokey-grey);
  cursor: pointer;
}

form div input {
  width: 16rem;
  height: 7.2rem;
  padding: 2.4rem 1.2rem;
  font-size: 3.3rem;
  font-weight: 700;
  border: 2px solid var(--light-grey);
  border-radius: 0.8rem;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Arrow button */

form button {
  display: flex;
  position: absolute;
  bottom: -4.8rem;
  right: 0;
  width: 9.6rem;
  height: 9.6rem;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-purple);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

button img {
  display: flex;
  width: 4.4rem;
  height: 4.4rem;
}

/* Results */

.results {
  font-size: 10.4rem;
  font-weight: 800;
  font-style: italic;
}

.results div {
  display: flex;
  height: 11.4rem;
}

.results div span {
  margin-right: 0.8rem;
  color: var(--primary-purple);
}

/* Pseudo-classes */

form div input:focus {
  outline: none;
  border-color: var(--primary-purple);
}

form button:active {
  background-color: var(--off-black);
}