:root {
  --primary-purple: #854DFF;
  --primary-light-red: #FF5959;
  --white: #FFFFFF;
  --off-white: #DCDCDC;
  --light-grey: #F0F0F0;
  --smokey-grey: #716F6F;
  --off-black: #151515;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', Arial;

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--light-grey);
}

main {
  display: flex;
  flex-direction: column;
  width: 34.3rem;
  height: 48.6rem;
  padding: 4.8rem 2.4rem;
  background-color: var(--white);
  border-radius: 3rem 3rem 25% 3rem;
}

/* Form */

form {
  display: flex;
  position: relative;
  padding-bottom: 6.4rem;
  border-bottom: 1px solid var(--light-grey);
}

form div {
  display: flex;
  margin-right: 1.6rem;
  flex-direction: column;
  cursor: pointer;
}

form div label {
  margin-bottom: 0.4rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--smokey-grey);
  cursor: pointer;
}

form div input {
  width: 8.76rem;
  height: 5.4rem;
  padding: 1.6rem 1.2rem;
  font-size: 2rem;
  font-weight: 700;
  border: 2px solid var(--light-grey);
  border-radius: 0.8rem;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

/* Arrow button */

form button {
  display: flex;
  position: absolute;
  bottom: -3.2rem;
  right: 11.6rem;
  width: 6.4rem;
  height: 6.4rem;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-purple);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

button img {
  display: flex;
  width: 2.4rem;
  height: 2.4rem;
}

/* Results */

.results {
  margin-top: 6.4rem;
  font-size: 5.4rem;
  font-weight: 800;
  font-style: italic;
}

.results div {
  display: flex;
  height: 6.2rem;
}

.results div span {
  margin-right: 0.8rem;
  color: var(--primary-purple);
}

/* Pseudo-classes */

form div input:focus {
  outline: none;
  border-color: var(--primary-purple);
}

form button:active {
  background-color: var(--off-black);
}

/* Validation classes */

#day-error,
#month-error,
#year-error {
  margin-top: 0.8rem;
  font-size: 1rem;
  font-style: italic;
  color: var(--primary-light-red);
}

.label-error {
  color: var(--primary-light-red);
}

.input-error {
  border-color: var(--primary-light-red);
}